snippet fn "function" i
function $1 ($2) {
    $0
}
endsnippet

snippet pr "promise" i
return new Promise((resolve, reject) => {
    $0
});
endsnippet

snippet cb "callback" i
$1((res, err) => {
    $0
});
endsnippet

