[user]
	name       = itsdalmo
	email      = kristian@dalmo.me
	signingkey = 654A1E33

[alias]
	unstage  = reset HEAD
	uncommit = reset --soft HEAD^
	amend    = commit --amend
	history  = log --graph --all --color --pretty=format:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s"

[core]
	editor       = goland --wait
	excludesfile = ~/.gitignore

[diff]
	tool = default-difftool

[difftool "default-difftool"]
	cmd = goland diff $LOCAL $REMOTE

[credential]
	helper      = !aws codecommit credential-helper $@
	UseHttpPath = true

[pull]
	ff = only

[commit]
	gpgSign = true

[tag]
	gpgSign = true
